<section class="formulario">
    <div class="form-interno">
      <div class="titulo row">
        <div class="col-12">
          <form>
            <div class="col-12">
              <h1>Contactanos</h1>
              <div class="form-group">
                <label for="text">Nombre</label>
                <input type="text" class="form-control" id="text">
              </div>
              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              
              <div class="row">
                <div class="boton col-12">
                  <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  

<router-outlet></router-outlet>