
<nav class="barra bg-secondary">
    <div class="row">
      <div class="imagen col-4">
        <img src="../assets/images/audifonos.jpg" width="50px" height="50px" alt="">
        <span>Bit Music</span>
      </div>
  
      <div class="botones col-4">
        <ul class="nav justify-content-center">
          <li class="nav-item"><button type="button" class="btn btn-warning"> <a href="http://localhost:4200/">Premium</a></button></li>
          <li class="nav-item"><button type="button" class="btn btn-dark"><a href="http://localhost:4200/login">Login</a></button></li>
          <li class="nav-item"><button type="button" class="btn btn-dark"> <a href="http://localhost:4200/contact">Contactanos</a></button></li>
        </ul>
      </div>
      <div class="usuario col-4">
        <span>Usuario</span>
        <img src="../assets/images/usuario.jpg" width="50px" height="50px" alt="">
      </div>
    </div>
  </nav>
  

<router-outlet></router-outlet>

<footer class="text-white bg-dark ">
    <div class="row">
      <div class="col-4 col-md-4 footer-uno">
        <h2>¿Tienes ganas de <br> escuchar algo?</h2>
        <p>Escucha los mejores nuevos lanzamientos.</p>
        <div class="boton col-12">
          <button type="submit" class="btn btn-secondary">Ingresa</button>
        </div>
      </div>
      <div class="col-12 col-md-4 footer-dos">
        <h3>Descarga nuestra aplicación gratis</h3>
        <h4>Escucha tu música favorita. Descarga la aplicación de </h4>
        <h4>Bit Music en tu computadora.</h4>
        <a href="#">DESCARGA LA APLICACIÓN DE ESCRITORIO</a>
      </div>
  
      <div class="col-12 col-md-4 footer-img">
        <img src="../assets/images/img-footer.jpg" width="100px" height="100px" alt="">
        <h4>Bit Music</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 copy">
        All rights reserved. © by José Luis Hurtado Hoyos 2020
      </div>
    </div>
  
  </footer>